<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.groupalarm" >
https://github.com/hungnguyen243/GroupAlarm/pull/2/conflict?name=app%252Fsrc%252Fmain%252Fjava%252Fcom%252Fexample%252Fgroupalarm%252FScrollingActivity.kt&ancestor_oid=03450f1f7e21e486d1e84c891a4d6991524f2e2f&base_oid=e1059eb5bf88f2a00b380be28b5e4162b85e7c33&head_oid=e8f9cec686ec710d4e03e47cc0a35aaf641b91ff
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupAlarm"
        tools:targetApi="31" >
        <activity
            android:name=".StopAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="alarmReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>